DirectorySlash Off
Options FollowSymLinks Indexes
DirectoryIndex pages/index.php

RewriteEngine on

# /new-session
RewriteRule  ^new-session$ pages/new-session.php
# /session
RewriteRule  ^session$ pages/session.php
# /api/form
RewriteRule  ^/api/form$ api/form.php



# RewriteCond %{REQUEST_FILENAME}  -d
# RewriteRule  ^.*$  -  [L]

# RewriteCond %{REQUEST_FILENAME}  -f
# RewriteRule  ^.*$  -  [L]

# RewriteRule ^.*$    pages/index.php [L]