DirectorySlash Off
Options FollowSymLinks Indexes
DirectoryIndex pages/index.php

RewriteEngine on

RewriteRule  ^new-session$ pages/new-session.php

RewriteRule  ^callibration$ pages/webgazer-callibration.php


# RewriteCond %{REQUEST_FILENAME}  -d
# RewriteRule  ^.*$  -  [L]

# RewriteCond %{REQUEST_FILENAME}  -f
# RewriteRule  ^.*$  -  [L]

# RewriteRule ^.*$    pages/index.php [L]